#### Entrega 6: Exploració de les dades
##### Valeria Orozco Castiblanco

#### Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [140]:
import pandas as pd 
import matplotlib as plt
import numpy as np

data = pd.read_csv('DelayedFlights.csv') 
dataframe = pd.DataFrame(data)
dataframe[:5]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [141]:
#Delete unnecessary columns
dataframe = dataframe.drop(['Unnamed: 0'], 1)
dataframe.tail()

C:\Users\vaorc\AppData\Local\Temp/ipykernel_9912/2564060592.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  dataframe = dataframe.drop(['Unnamed: 0'], 1)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1936753,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

#### Exercici 2
Fes un informe complet del data set:.

Resumeix estadísticament les columnes d’interès
Troba quantes dades faltants hi ha per columna
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
Taula de les aerolínies amb més endarreriments acumulats
Quins són els vols més llargs? I els més endarrerits?
Etc.

In [171]:
#Statistical summary of columns
#Causes of cancellation
# A = carrier, B = weather, C = NAS, D = security
df.loc[df['CancellationCode']=='A', 'Carrier'] = '0'
df.loc[df['CancellationCode']=='B', 'Weather'] = '1'
df.loc[df['CancellationCode']=='D', 'Security'] = '2'

print(df['CancellationCode'].value_counts())
print('Most flight cancellation has been due to weather conditions')

#Day of week of most cancelled flights 
day_of_most_cancelled_flights = df['DayOfWeek'].mode()

#Month of most cancelled flights
month_of_cancelled_flights = df['Month'].mode()

#Year of most cancelled flights
year_of_cancelled_flights = df['Year'].mode()
print('Most flights are canceled on Tuesdays, December and 2008')

#Carrier with most cancelled flights
carrier_most_cancelled = df['UniqueCarrier'].mode()
print('Most flights were cancelled by: '+str(carrier_most_cancelled))

#Average of cancelled flights per carrier
av_cancelled_per_carrier = dataframe['UniqueCarrier'][dataframe['CarrierDelay']!= 'NaN'].value_counts()
print(av_cancelled_per_carrier)
print('Most delayed flights were WN')

#Longest flight
long_flight = dataframe[['AirTime','Dest']].max()
print(long_flight) 

#Average flight
av_flight = dataframe['AirTime'].mean()
print('The average flight takes '+str(av_flight)+ ' minutes')

C:\Users\vaorc\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

B    307
A    246
C     80
Name: CancellationCode, dtype: int64
Most flight cancellation has been due to weather conditions
Most flights are canceled on Tuesdays, December and 2008
Most flights were cancelled by: 0    MQ
dtype: object
WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
DL    114238
XE    103663
CO    100195
US     98425
EV     81877
NW     79108
FL     71284
YV     67063
B6     55315
OH     52657
9E     51885
AS     39293
F9     28269
HA      7490
AQ       750
Name: UniqueCarrier, dtype: int64
Most delayed flights were WN
AirTime    1091.0
Dest          YUM
dtype: object
The average flight takes 108.27714739539228 minutes

#### Exercici 3

Exporta el data set net i amb les noves columnes a Excel.

In [ ]:
dataframe.to_excel(r'C:\Users\vaorc\Desktop\DataScienceIT\Entrega 6\NewDataSetDelayFlights.xlsx', index = False)